/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background: #f8f9fa;
}

p {text-align: center;}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    max-width: 1200px;
}

h1{
    color: whitesmoke;
}

h2, h3 {
    margin-top: 0;
    color: #5f5d5d;
}

/* Navbar Styles */
nav {
    background: #343a40;
    color: #fff;
    padding: 2em 0;
    text-align: center;

}

.nav-list {
    list-style: none;
    padding: 0;
}

.nav-list li {
    display: inline;
    margin: 0 15px;
}

.nav-list a {
    color: #fff;
    text-decoration: none;
}

.nav-list a:hover {
    text-decoration: underline;
}

/* Profile Photo Styles */
.profile-photo-container {
    background: #343a40;
    text-align: center;
    margin-top: 0px; /* Adjust spacing as needed */
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Profile Photo Styles */
.cbml-photo-container {
    background: #343a40;
    text-align: center;
    margin-top: 0px; /* Adjust spacing as needed */
}

.cbml-photo {
    width: 280px;
    height: 120px;
    background: #f8f9fa;    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.omnixell-photo {
    width: 90px;
    height: 80px;
    border-radius: 50%;
    background: #f8f9fa;    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-row {
    display: flex;
}
.image-row img {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    background: transparent;
    margin: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000; /* Change this color to your desired arrow color */
    background-size: 50%, 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0.3;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: #555; /* Change this color to your desired hover color */
    opacity: 1;
}

.carousel-control-prev {
    margin-left: 10px; /* Adjust the negative margin to move the left arrow left */
}

.carousel-control-next {
    margin-right: 1px; /* Adjust the negative margin to move the right arrow right */
}


/* Hero Section */
.hero {
    background: #343a40;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

.hero h1 {
    margin: 0;
    font-size: 2.5em;
    line-height: 1.2;
    margin-top: 20px; /* Add spacing between the profile photo and the hero text */
}

.hero p {
    font-size: 1.2em;
}

/* Section Styles */
.section {
    padding: 50px 0;
}

.section h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
}

.resume-item, .project {
    margin-bottom: 20px;
}

.project h3 {
    font-size: 1.5em;
}

.project p, .resume-item p {
    font-size: 1em;
}

/* Contact Section */
#contact p {
    text-align: center;
    font-size: 1.2em;
}

#contact a {
    color: #007bff;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

.bottom-container {
    text-align: center;
    margin-top: 20px;
    padding: 20px 0;
    background: #343a40;
  }

.footer-link {
    font-size: 2em;
    margin: 0 10px;
    text-decoration: none;
}

.footer-link:hover {
    color: #f9fafa;
    text-decoration-line: none;
}

.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
  }

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .nav-list li {
        display: block;
        margin: 10px 0;
    }

    .profile-photo {
        width: 100px;
        height: 100px;
    }

    .hero {
        padding: 50px 0;
    }

    .hero h1 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1em;
    }
}
